@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

.navigation {
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: black outset 2px;

    padding: 10px 0px 10px 25px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navigation img {
    height: 150px;
}

.navigation a {
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.navigation a:hover {
    background: black;
    color: white;
    transition: 1s;
}

.headline {
    background-image: url(/eindopdracht-frontend/images/wp8626219.jpg);
    max-width: 100vw;
    object-fit: cover;
    height: 70vh;
    color: white;
    border-bottom: black solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headline h1 {
    font-size: 42px;
}

.headline-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.headline button {
    background-color: white;
    height: 50px;
    width: 200px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    font-size: 16px;
}

.headline button:hover {
    transition: 0.5s;
    transform: scale(1.1);

    border: 3px black solid;
    text-shadow: 1px;
}

.subheading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    border-bottom: solid 1px black;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 100px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: auto;
    padding-bottom: 20px;
    width: 400px;
    border: black 1px solid;
    border-radius: 8px;


    /* color: white;
    background-color: lightgrey;
    transform-origin: center;
    transition: all 1s ease; */
}

/* .card:hover {
    color: black;
    background-color: darkgrey;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.4);
    transform: scale(1.2);
} */

.card h1,
i,
p,
button {
    padding-left: 20px;
    padding-right: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    border: black solid 1px;
    border-radius: 8px;
}

.card button {
    background-color: white;
    height: 50px;
    width: 200px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    font-size: 16px;
    margin-left: 20px;
}

.card button:hover {
    background: black;
    color: white;
    transition: 1s;
}

.form-container {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.form .name-container,
.form .name-container input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 290px;
    margin-bottom: 10px;
}

.form .city-container,
.form .city-container input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 290px;
}

.form .subject-container {
    width: auto;
}

.form .radio-container,
.form .radio-container input,
.form .radio-container .radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form .radio-container label {
    margin-bottom: 0px;
}

.form .checkbox-container,
.form .checkbox-container label {
    flex-direction: row;
    justify-content: left;
    gap: 20px;

    margin-bottom: 0px;
}

.form label {
    font-weight: bold;
    text-align: left;

    margin-bottom: 10px;
}


.form input[type=text],
input[type=email],
input[type=date],
select {
    height: 50px;
    padding-left: 20px;
}

input[type=radio] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type=submit] {
    width: auto;
    height: 50px;
}

input:invalid,
select:invalid {
    border: 2px solid darkred;
    border-radius: 8px;
}

input:valid,
select:valid {
    border: 2px solid darkgreen;
    border-radius: 8px;
}


footer {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    width: auto;
    background-color: black;
    color: rgb(148, 143, 143);
}

footer i {
    color: rgb(148, 143, 143);
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright p:hover {
    transition: 0.2s;
    color: white;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}

.icons i:hover {
    transition: 0.2s;
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}

.links a {
    color: rgb(148, 143, 143);
    text-decoration: none;
}

.links a:hover {
    transition: 0.2s;
    color: white;
    border-radius: 25px;
}

@media (max-width: 360px) {

    .navigation {
        flex-direction: column;
        height: calc(100vh - 80px);
        padding: 0px;
    }

    .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin: 0px;
    }

    .headline {
        width: 100vh;
        object-fit: cover;
        object-position: center;
    }

    .headline-buttons {
        width: calc(100vw - 50px);
    }

    .subheading {
        width: 100vw;
        margin: 0px;
    }

    .cards {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: calc(100vw - 50px);
    }

    .form-container {
        width: 100vw;
    }

    .form {
        min-width: calc(100vw - 50px);
        justify-content: center;

        padding: 0px 20px 0px 20px;
    }

    .form .name-container,
    .form .name-container input {
        flex-direction: column;
        width: auto;
    }

    .form .city-container,
    .form .city-container input {
        flex-direction: column;
        width: auto;
    }

    .form .subject-container {
        width: auto;
    }

    footer {
        flex-direction: column;
        max-width: 100vw;
        align-items: start;
        gap: 20px;
    }

    .links {
        flex-direction: column;
        align-items:  start;
        margin: 0px 0px 20px 20px;
    }
}