@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

.navigation {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: black outset 2px;

    padding: 10px 0px 10px 25px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navigation img {
    height: 150px;
}

.navigation a {
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.navigation a:hover {
    background: black;
    color: white;
    transition: 1s;
}

.headline {
    background-image: url(/eindopdracht-frontend/images/wp8626219.jpg);
    max-width: 100%;
    object-fit: cover;
    height: 70vh;
    color: white;
    border-bottom: black solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headline h1 {
    font-size: 42px;
}

.headline-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.headline button {
    background-color: white;
    height: 50px;
    width: 200px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    font-size: 16px;
}

.headline button:hover {
    transition: 0.5s;
    transform: scale(1.1);

    border: 3px black solid;
    text-shadow: 1px;
}

.subheading {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    border-bottom: solid 1px black;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    gap: 100px;
    margin-bottom: 50px;
}

.card {
    height: 500px;
    width: 400px;
    border: black 1px solid;
    border-radius: 8px;

    /* color: white;
    background-color: lightgrey;
    transform-origin: center;
    transition: all 1s ease; */
}

/* .card:hover {
    color: black;
    background-color: darkgrey;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.4);
    transform: scale(1.2);
} */

.card h1,
i,
p,
button {
    padding-left: 20px;
    padding-right: 20px;
}

.card img {
    width: 400px;
    height: 200px;
    border: black solid 1px;
    border-radius: 8px;
}

.card button {
    background-color: white;
    height: 50px;
    width: 200px;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

    font-size: 16px;
    margin-left: 20px;
}

.card button:hover {
    background: black;
    color: white;
    transition: 1s;
}

.form-container {
    display: flex;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    margin-top: 10px;
}

.form .name-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form .city-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form .radio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.form label {
    font-weight: bold;
    text-align: left;

    margin-bottom: 10px;
    padding-left: 10px;
}


.form input[type=text],
input[type=email],
input[type=date],
select {
    width: 300px;
    height: 50px;
    padding-left: 20px;
}

input[type=radio] {
    margin-left: 10px;
    margin-right: 10px;
}

input[type=submit] {
    width: auto;
    height: 50px;
}

input:invalid,
select:invalid {
    border: 2px solid darkred;
    border-radius: 8px;
}

input:valid,
select:valid {
    border: 2px solid darkgreen;
    border-radius: 8px;
}


footer {
    display: flex;
    min-height: 250px;
    width: auto;
    background-color: black;
    color: white;
}

footer i {
    color: white;
}

.icons {
    flex-direction: column;
    justify-content: flex-end;
}

.icons img {
    margin-top: 20px;
    height: 150px;
    width: 200px;
    background-color: white;
    border-radius: 25%;
}

.links {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}







@media (orientation: portrait) {}